__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite
*.db
.env
*.env
*.env.local
*.env.development
*.env.production
*.env.test
*.env.staging
node_modules/
dist/
.cache/
*.egg-info/
*.egg
*.so
*.dylib
*.swp
*.bak
*.tmp
*.sublime-project
*.sublime-workspace
*.idea/
.vscode/